.example {
    color: #fff;
    text-align: justify;
}
.example::after {
    content: '';
    display: inline-block;
    width: 100%;
}
.item {
    /* O uso de display: inline torne inútil width e height */
    /* width: 33.333%;
    height: 150px; */
    /* display: inline; */

    /* Aqui fazendo uso de display:block */
    /* width: 33.333%;
    height: 150px;
    display: block; */


    /* width: 33.333%; */
    display: inline-block;
    width: 25%;
    height: 150px;
}
.item-st {
    background-color: #faa116;
    text-align: right;
}
.item-nd {
    background-color: #57c7c3;
    text-align: center;
    /* para uso com display:block */
    /* margin-left: auto; */
}
.item-rd {
    background-color: #2b97d3;    
    /* Para uso com display:block */
    /* margin-left: auto;
    margin-right: auto; */

}