.wrap-elementExample {
    background-color: #27ae60;
    overflow: hidden;
    text-align: justify;
}
.elementExample {
    width: 200px;
    height: 200px;
    line-height: 200px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}
.elementExample_st {
    background-color: #be44ad;
    float: right;
}
.elementExample_last {
    background-color: #c0392b;
    float: left;
}
.elementParagraph {
    clear: both;
}